<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add user</title>
</head>
<body>
<h1>Add new</h1>
<form method="post" th:action="@{/users}">
    <p>
        <label>Input Username</label>
        <input type="text" name="username">
    </p>
    <p>
        <label>Input email</label>
        <input type="text" name="email">
    </p>
    <p>
        <label>Input password</label>
        <input type="text" name="password">
    </p>

    <button type="submit">CREATE</button>
</form>
<a href="/users">Back to list</a>

</body>
</html>