<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<h1>Update user</h1>
<form method="post" th:action="@{/users/{id}(id=${user.userId})}">
    <input type="hidden" name="_method" value="put">
    <p>
        <label>Input new username</label>
        <input type="text" name="username"
               th:value="${user.username}">
    </p>
    <p>
        <label>Input new email</label>
        <input type="text" name="email"
               th:value="${user.email}">
    </p>
    <p>
        <label>Input new password</label>
        <input type="text" name="password"
               th:value="${user.password}">
    </p>
    <button type="submit">UPDATE</button>
</form>

</body>
</html>